$text: #212529;
$text-secondary: #ADB5BD;
$text-tertiary: #868E96;
$app-background: transparent linear-gradient(180deg, #ffffff 0%, #dee2e6 100%) 0%
0% no-repeat padding-box;
$searchbar-background: #F1F3F5 0% 0% no-repeat padding-box;