@use 'sass/color';
@use 'sass/utilities';

.icon {
  display: flex;
  margin-left: -7rem;
  background: utilities.$searchbar-background;
  position: relative;
  z-index: 3;

  button {
    padding: 0;
    outline: none;
    border: none;
    background: none;
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  svg {
    cursor: pointer;
  }
}

.check {
  background-color: transparent;
  margin-right: 1rem;
}