@use 'sass/color';
@use 'sass/utilities';

.icon {
  display: flex;
  margin-left: -7rem;
  background: utilities.$searchbar-background;
  position: relative;
  z-index: 3;
  svg {
    cursor: pointer;
  }
}

.add {
  margin-left: 2rem;
}

.trash {
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s;
}