$app-background: transparent linear-gradient(180deg, #ffffff 0%, #dee2e6 100%) 0%
0% no-repeat padding-box;
$searchbar-background: #f1f3f5 0% 0% no-repeat padding-box;
$list-box-shadow: 0px 0px 40px #0000000d;
$border-radius: 6px